.ts-content {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}
.ts-content .col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.ts-content .col:nth-child(1) {
  order: 2;
}
.ts-content .col:nth-child(2) {
  order: 1;
}
@media (min-width: 768px) {
  .ts-content {
    flex-direction: row;
    align-items: center;
  }
  .ts-content .col {
    justify-content: start;
    width: 50%;
    text-align: left;
  }

.ts-content .col:nth-child(1) {
  order: 1;
}
  .ts-content .col:nth-child(2) {
    justify-content: center;
    order: 2;

  }
}
/*image*/
.ts-content .col .ts-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  transform: rotate(20deg);
  isolation: isolate;
  z-index: 2;
  overflow: hidden;
}
.ts-image::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  z-index: -1;
  background: url('../../img/pexels-anna-tarazevich-6512303.jpg') 0 0 repeat;
  background-size: cover;
  transform: rotate(-20deg);
}
/*text*/
.ts-content .col .ts-text header {
  border-left: solid 0.5rem var(--color-lila) ;
  padding-left: 0.5rem;
}
.ts-content .col .ts-text header .h1 {
font-weight: bold;
}
.ts-content .col .ts-text header .subtitle {
font-style: italic;
margin: 0.2rem 0;
}
.ts-content .col .ts-text p {
  margin: 2rem 0;
}
.ts-content .col .ts-text .tags-container {

  display:flex;
  gap: 0.8rem;
}

.ts-content .col .ts-text .tags-container .tag {
 background-color: rgba(255,255,255, 0.7);
 font-family: var(--font-secondary);
 color: var(--color-dark-gray);
 padding: 0.2rem 0.6rem;
  border-radius: 0.2rem;
}
.ts-content .col .ts-text footer {
  margin: 1rem 0;
}
.ts-content .col .ts-text footer div {
  outline: solid 1px white;
  display: inline-flex;
  background-color: var(--color-white);
  border-radius: 0.2rem;
  overflow: hidden;
}
.ts-content .col .ts-text footer div .price {
padding: 0 1rem;
  font-size: var(--fs-md);
  font-family: var(--font-secondary);
  line-height:auto;
  padding:0px;
  outline:solid 1px red;
}
