/*reset*/
*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/*imports (fonts,icons)*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Prata&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');

/*VARIABLES*/
:root {
  --font-primary: 'Lato', sans-serif;
  --font-secondary: 'Prata', serif;
  --color-lila: #e8b0e2;
  --color-green: #c5e7d6;
  --color-dark-gray: #505050;
  --color-light-gray: #d2d2d2;
  --color-ultralight-gray: #eee;
  --color-white: #fff;
  --color-black: #000;

  --fs-xxl: clamp(3.5rem, 12vw + 1rem, 7rem);
  --fs-xl: clamp(2rem, 5vw + 0.5rem, 3.5rem);
  --fs-lg: 1.7rem;
  --fs-md: 1.3rem;
  --fs-base: 1rem;
  --fs-sm: 0.9rem;

  --line-height-sm: 1.25;
  --line-height-md: 1.5;

  /* --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px; */
}
/*small*/
@media (min-width: 576px) {
  :root {
    --fs-lg: 1.8rem;
    --fs-md: 1.4rem;
    --fs-base: 1.1rem;
    --fs-sm: 1rem;
  }
}
/*medium*/
@media (min-width: 768px) {
  :root {
    --fs-lg: 1.9rem;
    --fs-md: 1.5rem;
    --fs-base: 1.2rem;
    --fs-sm: 1.1rem;
  }
}
/*large*/
@media (min-width: 992px) {
  :root {
    --fs-lg: 2rem;
    --fs-md: 1.6rem;
    --fs-base: 1.3rem;
    --fs-sm: 1.1rem;
  }
}

/*GLOBAL STYLES*/
body {
  font-family: var(--font-primary);
  font-size: var(--fs-sm);
  line-height: var(--line-height-sm);
}
.container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}
/*COMPONENT STYLES*/
/*--UTILITIES--*/
.btn,
.btn-sm {
  border: none;
  font-size: var(--fs-base);
  font-weight: bold;
  padding: 0.7rem 1rem;
  border-radius: 0.2rem;
}
.btn-sm {
  font-size: var(--fs-sm);
  padding: 0.3rem 0.6rem;
}
.btn-primary {
  background-color: var(--color-lila);
  color: var(--color-white);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-secondary);
  font-weight: normal;
}
.h1 {
  font-size: var(--fs-lg);
}
.display-1 {
  font-size: var(--fs-xl);
}
.display-2 {
  font-size: var(--fs-xxl);
}
.display-3 {
  font-size: var(--fs-xl);
}
p {
  font-size: var(--fs-base);
  line-height: var(--line-height-sm);
}
.bg-stripe {
  content: '';
  position: fixed;
  left: 40%;
  width: 10vw;
  min-width: 150px;
  height: 100%;
  background-color: var(--color-ultralight-gray);
  z-index: -99;
}

@media (min-width: 576px) {
  .bg-stripe {
    left: 55%;
    min-width: 175px;
  }
}

@media (min-width: 768px) {
  .bg-stripe {
    left: 60%;
    min-width: 185px;
  }
}

@media (min-width: 768px) {
  .bg-stripe {
    left: 70%;
    min-width: 200px;
  }
}
/* --breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px; */

/* ---HEADER--- */
header.header {
  margin-bottom: 1rem;
  height: 100vh;
}
/*nav-bar*/
header.header nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}
header.header nav .container .logo {
  font-family: var(--font-secondary);
  font-size: var(--fs-md);
}
header.header nav .container .menu {
  display: flex;
  align-items: center;
}
header.header nav .container .menu ul {
  list-style: none;
}
header.header nav .container .menu ul li {
  display: inline;
  position: relative;
  margin: 0 1rem;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.5s ease;
}
header.header nav .container .menu ul li::after {
  content: '';
  background-color: var(--color-black);
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 2px;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}
header.header nav .container .menu ul li:hover::after,
header.header nav .container .menu ul li.active::after {
  transform: scale(1);
}
header.header nav .container .menu ul li:hover {
  opacity: 1;
}
header.header nav .container .menu i {
  font-size: var(--fs-md);
  opacity: 0.7;
  line-height: 0%;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
header.header nav .container .menu i:hover {
  opacity: 1;
}

/*hero*/
header.header .hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header.header .hero .container .col {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
}
header.header .hero .container .col:nth-child(1) {
  order: 2;
}
header.header .hero .container .col:nth-child(2) {
  order: 1;
}
header.header .hero .container .col.hero-text {
  display: flex;
  flex-direction: column;
}
header.header .hero .container .col.hero-img {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
header.header .hero .container .col.hero-img .img-container {
  height: 500px;
  width: 100%;
  max-width: 500px;
}
.img-container .masked-img {
  width: 100%;
  height: 100%;
  background-image: url('./img/hero-img-03.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
}
.img-container .masked-img::after,
.img-container .masked-img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: contain;
  background-repeat: no-repeat;
}
.img-container .masked-img::after {
  background-image: url('./img/hero-img-02.png');
  z-index: 4;
}
.img-container .masked-img::before {
  background-image: url('./img/hero-img-01.png');
  z-index: 6;
}
header.header .hero .container .col.hero-text {
  margin-bottom: 4rem;
}
header.header .hero .container .col.hero-text h1 {
  font-weight: normal;
  margin-bottom: 3rem;
}
/* header .hero .container .col.hero-text div .btn-primary {
} */
header.header .hero .container .col.hero-text div .btn-primary:hover {
  backdrop-filter: sepia(90%);
}
@media (min-width: 768px) {
  header.header .hero .container {
    flex-direction: row;
  }
  header.header .hero .container .col.hero-text {
    align-items: flex-start;
    text-align: left;
  }
  header.header .hero .container .col.hero-img {
    justify-content: flex-end;
  }
  header.header .hero .container .col:nth-child(1) {
    order: 1;
  }
  header.header .hero .container .col:nth-child(2) {
    order: 2;
  }
}
/*-----TRENDING-----*/
section.trending {
  background-color: var(--color-green);
  position: relative;
  isolation: isolate;
}
section.trending .bg-stripe {
  background-color: var(--color-lila);
  position: absolute;
  top: 0px;
  z-index: -2;
}

.trending .container {
  /* padding: 5rem 0; */
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  min-height: 100vh;
}
.trending .container h2.display-2 {
  color: var(--color-white);
  margin: 0;
  padding: 0;
  line-height: 1;
  position: absolute;
  top: -2px;
  left: 1rem;
  z-index: -1;
}

/*-----TRENDING-----*/
section.products .container h2 {
  color: var(--color-light-gray);
}
